*.swp
*.pyc
*.dat
*~
CMakeLists.txt.user
build
*.o
sktest
sk_config.c
*.gch
tags
*.asv
*.exp
*.ilk
*.lib
*.mexw64
*.pdb
docs
*.gcda
*.gcno
*.c.gcov
gmon.out
val.out
python/sddekit.c
run_tests
junit.xml
*.bc
*.html.map
*.js.map
*.js
*.html
*.so
*.bc.
*.dSYM
.DS_Store
